* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    scrollbar-color: #1d1f1f #020303;

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: #020303;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1d1f1f;
        border-radius: 20px;
        border: 3px solid #020303;
    }
}

body {
    background-color: #020303;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 800px) {
    .darker {
        opacity: 0.3;
    }
}
