.legal {
    h2 {
        margin: 58px 0 60px;
    }

    h3 {
        margin: 20px 0;
    }

    h3:not(:first-of-type) {
        margin-top: 60px;
    }

    h4 {
        margin: 10px 0;
    }

    p {
        font-weight: 300;
        max-width: 600px;
        line-height: 1.3;
    }

    a {
        text-decoration: none;
        color: inherit;
        transition: color 0.2s linear;

        &:hover {
            color: #a92b23;
        }
    }

    i.icon {
        margin: 0 5px;
    }
}
